.footer{
    height: 15vh;
    width: 100%;
    background-color: rgb(54, 54, 54);
    margin-top: 1.5rem;
}
.footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px 0px;
    color: white;
}